@model IEnumerable<Gallaria.ApiClient.DTOs.ArtDto>

@{
    ViewData["Title"] = "AllArts";
}

<h1>All Arts</h1>


    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a href="@Url.Action("Details", "Art", new { id=item.Id })" style="color:ActiveBorder black; text-decoration: none">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img src="@Html.DisplayFor(modelItem => item.Img64)" runat="server" class="card-img-top" alt="Picture">
                    <div class="card-body ">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <div class="d-flex justify-content-between">
                            <div class="card-text">Author:</div>
                            <div class="card-text">@Html.DisplayFor(modelItem => item.ArtistName)</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="card-text">Price:</div>
                            <div class="card-text">@Html.DisplayFor(modelItem => item.Price)€</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="card-text">Available pieces:</div>
                            <div class="card-text">@Html.DisplayFor(modelItem => item.AvailableQuantity)</div>
                        </div>
                        <div class="row justify-content-center" style="padding-top: 5%">
                            <a href="@Url.Action("AddToCart", "Art",
                                new {id = item.Id})" class="btn btn-primary align">
                                Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>